---
layout: default
title: Grafters Audition Preparation
description:
---
<!-- <script>
    const slideshow = () => ({
        current: 0,
        images: [
            '/images/Grafters-122.jpg',
            '/images/Grafters-129.jpg'
        ],
        init() {
            window.setInterval(() => {
                this.current = this.current < this.images.length - 1 ? this.current + 1 : 0
            }, 4000);
        }
    });
</script> -->
<!-- 
<div class="-mt-32 relative w-full bg-black pt-64 pb-24">
    <div class="relative z-10 text-center text-white text-center mx-auto max-w-2xl">
        <h1 class="text-3xl lg:text-7xl mb-4 font-bold uppercase italic">Grafters Audition Preparation</h1>
        <a href="/register/" class="inline-block rounded-full border-2 border-white text-lg px-8 py-3 hover:bg-white hover:text-gray-900">Register Now</a>
    </div>
    <img src="/images/042_Grafters Logo.png" class="w-full h-full absolute inset-0 object-cover">
</div> -->
<img src="/images/042_Grafters Logo.png" alt="Grafter Audition Preparation" class="w-full h-auto -mt-32">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x/dist/css/glide.core.min.css">
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x"></script>
<div class="text-center px-6 mt-24">
    <h2 class="text-5xl mb-6 font-bold uppercase italic">{{ home.logos_title }}</h2>
</div>
<div
    x-data="{
        images: {{ home.logos | dump }},
        init() {
            this.$nextTick(() => {
                new Glide(this.$refs.glide, {
                    type: 'loop',
                    gap: 20,
                    autoplay: 5000,
                    perView: 7,
                    breakpoints: {
                    640: {
                        perView: 2,
                        gap: 10,
                    },},
                }).mount()
            });
        },
    }"
>
    <div x-ref="glide" class="glide block relative px-12 mt-6 max-w-6xl mx-auto">
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
                <template x-for="logo in images">
                    <div class="glide__slide">
                        <div
                            class="px-3 py-1"
                            x-bind:class="[
                                '/images/logos/lc_white.png',
                                '/images/logos/logo-holding.png',
                                '/images/logos/royal scottish .png'
                            ].includes(logo.image) ? 'bg-black' : ''">
                            <img class="h-24 w-auto object-contain" x-bind:src="logo.image">
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
<div id="what-we-do" class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 py-24">
    <div class="lg:px-20 lg:py-32 flex items-center justify-center">
        <div>
            <h2 class="text-5xl mb-6 font-bold uppercase italic">{{ home.about_title }}</h2>
            <div class="text-lg prose">
                {{ home.about_description | markdown | safe }}
                <a href="/apply/" class="mt-6 inline-block rounded-full border-2 border-gray-900 text-lg px-8 py-3 hover:bg-black hover:text-white no-underline">Apply Now</a>
            </div>
        </div>
    </div>
    <div class="h-96 md:h-auto pt-12 md:pt-0 ml-12 md:ml-0 grid relative grid-cols-2">
        <div class="pt-24">
            <div class="relative w-full h-full">
                <img src="{{ home.about_image_one }}" class="absolute inset-0 w-full h-full object-cover -mt-6 z-10">
            </div>
        </div>
        <div class="relative">
            <img src="{{ home.about_image_two }}" class="absolute inset-0 w-full h-full object-cover opacity-75 -ml-12">
        </div>
    </div>
</div>

<div class="">
    <video class="max-w-4xl w-full aspect-video mx-auto bg-black" poster="/images/video-preview.png" controls autoplay muted>
        <source src="{{ home.video }}" type="video/mp4">
    </video>
</div>

<div class="flex justify-center items-center px-6 gap-x-12 mt-12 md:mt-24">
    <a href="{{ home.instagram_url }}" class="flex justify-center items-center gap-1 hover:opacity-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
        <span>{{ home.instagram_username }}</span>
    </a>
    <a href="{{ home.facebook_url }}" class="flex justify-center items-center gap-1 hover:opacity-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
        <span>{{ home.facebook_username }}</span>
    </a>
</div>

<div id="who-we-are" class="relative w-full bg-black py-56 my-12 lg:my-24">
    <div class="relative z-10 text-center text-white text-center mx-auto max-w-xl">
        <h1 class="text-3xl lg:text-7xl mb-4 font-bold uppercase italic">{{ home.team_title }}</h1>
        <!-- <a href="#" class="inline-block rounded-full border-2 border-white text-lg px-8 py-3 hover:bg-white hover:text-gray-900">Find out more</a> -->
    </div>
    <img src="{{ home.team_image }}" class="w-full h-full absolute inset-0 object-cover object-center opacity-75">
</div>

{% for member in home.staff %}
    <div class="container mx-auto px-6 flex flex-wrap py-24">
        <div class="w-full md:w-4/12 {% if loop.index % 2 === 0 %} md:order-last {% endif %}">
            <img src="{{ member.image }}" class="w-full h-full object-cover">
        </div>
        <div class="w-full md:w-8/12 lg:px-14 pt-12 md:pt-0">
            <h2 class="text-5xl mb-6 font-bold uppercase italic">{{ member.name }}</h2>
            <div class="prose max-w-none text-lg">
                {{ member.about | markdown | safe }}
                <a href="{{ member.website_link }}" class="inline-block rounded-full border-2 border-gray-900 text-lg px-8 py-3 hover:bg-black hover:text-white no-underline">{{ member.website_name }}</a>
            </div>
        </div>
    </div>
{% endfor %}

<div id="classes" class="relative w-full bg-black py-32 my-12 lg:my-24">
    <div class="relative z-10 text-center text-white text-center mx-auto max-w-xl">
        <h2 class="text-3xl lg:text-7xl mb-4 font-bold uppercase italic">{{ home.classes_title }}</h2>
        <!-- <a href="#" class="inline-block rounded-full border-2 border-white text-lg px-8 py-3 hover:bg-white hover:text-gray-900">Find out more</a> -->
    </div>
    <img src="{{ home.classes_image }}" class="w-full h-full absolute inset-0 object-cover object-center opacity-75">
</div>


<div class="text-lg prose max-w-4xl mx-auto px-6 md:columns-2">
    {{ home.classes_description | markdown | safe }}
</div>
<div class="text-center mt-12">
    <a href="/apply/" class="mt-8 inline-block rounded-full border-2 border-gray-900 text-lg px-8 py-3 hover:bg-black hover:text-white no-underline">Apply Now</a>
</div>
<div class="prose mx-auto px-6 text-center text-lg mt-12">
    <p>{{ home.classes_smallprint }}</p>
</div>

<div id="classes" class="relative w-full bg-black py-32 my-12 lg:my-24">
    <div class="relative z-10 text-center text-white text-center mx-auto max-w-xl">
        <h2 class="text-3xl lg:text-7xl mb-4 font-bold uppercase italic">{{ home.apply_title }}</h2>
        <!-- <a href="#" class="inline-block rounded-full border-2 border-white text-lg px-8 py-3 hover:bg-white hover:text-gray-900">Find out more</a> -->
    </div>
    <img src="{{ home.apply_image }}" class="w-full h-full absolute inset-0 object-cover object-center opacity-75">
</div>

<div class="prose max-w-4xl mx-auto px-6">
    {{ home.apply_description  | markdown | safe }}
</div>
<div class="text-center mt-12">
    <a href="/apply/" class="mt-8 inline-block rounded-full border-2 border-gray-900 text-lg px-8 py-3 hover:bg-black hover:text-white no-underline">Apply Now</a>
</div>